@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'KoHo', sans-serif;
}

.custom-card {
    width: 190%; /* Adjust as needed */
    padding: 5%; /* Adjust as needed */
    border-width: 4px;
    border-color: #FFD700; /* Yellow color */
    border-style: solid;
    border-radius: 20px; /* Adjust as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    margin: 0 auto; /* Center the card */
  }

.custom-card:hover {
  background-color: #FFD700; /* Yellow color on hover */
  border-color: #000000; /* Black border on hover */
}